.testimonials__slider {
    background-color: var(--color-secundary);
}


.testimonials__slide {
    width: 100%;
    height: 100%;
    
}

.slide__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-image {
    margin-top: 4rem;
}

.name {
    font-size: 5rem;
    font-weight: 900;
    color: var(--color-copy--black);
    text-align: right;
}

.name__small {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
}

.quotes {
    color: var(--color-copy--black);
    font-size: 3rem;
    font-weight: 900;
    max-height: 2rem;
}

.text {
    margin-top: -1rem;
    width: 52rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-copy--black);
    text-wrap: pretty;
    padding: 0 2rem;
    margin-bottom: 15.375rem;
}