main {
    background-color: var(--color-secundary);
    padding: 6rem;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.user_image {
    width: 100%;
    max-width: 32rem;
}

.name-title {
    font-size: 5rem;
    font-weight: 900;
    color: var(--text-secondary);
    text-align: center;
}

.name-title > small {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    text-align: right;
    margin-right: 106px;
}

.quotes {
    font-size: 5rem;
    font-weight: 900;
    max-height: 2rem;
    text-align: center;
}

.text {
    max-width: 60rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-secondary);
    text-align: left;
    text-wrap: pretty;
}